@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
}

#box {
  width: 1190px;
  max-height: 1000px;
  position: absolute;
  left: 50%;
  top: 250px;
  margin-left: -595px;
  overflow: hidden;
}

#box .box-left {
  width: 420px;
  height: 560px;
  margin: 0 20px 20px 0;
  position: relative;
  float: left;
}

#box .box-left #middle-box {
  width: 420px;
  height: 420px;
  border: 1px solid #ccc;
  padding-left: 1px;
  position: relative;
}

#box .box-left #middle-box img {
  width: 418px;
  height: 418px;
}

#box .box-left #middle-box #shadow {
  width: 200px;
  height: 200px;
  background-color: #F4F4F4;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

#box .box-left #middle-box .imgTip {
  display: block;
  width: 418px;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  text-align: center;
  background-color: #FFFFEE;
  color: #C4AF66;
  position: absolute;
  left: 1px;
  bottom: 1px;
}

#box .box-left #small-box {
  width: 420px;
  height: 80px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#box .box-left #small-box div {
  width: 60px;
  height: 60px;
  padding: 0 5px;
  background-color: #fff;
  border: 1px solid #ccc;
}

#box .box-left #small-box div img {
  width: 60px;
  height: 60px;
}

#box .box-left .share {
  height: 38px;
  line-height: 38px;
}

#box .box-left .share .ids {
  float: left;
}

#box .box-left .share a {
  display: block;
  float: right;
  color: #666;
  text-decoration: none;
  position: relative;
  padding-left: 25px;
  box-sizing: border-box;
}

#box .box-left .share a i {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0;
  top: 10px;
  background: url(../images/icons.png) no-repeat -145px -25px;
}

#box .box-center {
  width: 510px;
  height: 590px;
  float: left;
  margin-top: 20px;
  margin-right: 10px;
}

#box .box-center h1 {
  font-size: 18px;
  font-weight: normal;
  position: relative;
  padding-left: 35px;
  box-sizing: border-box;
}

#box .box-center h1 i {
  display: block;
  position: absolute;
  top: 3px;
  left: 0;
  width: 32px;
  height: 18px;
  background: url(../images/details/icon_otc.png) no-repeat;
}

#box .box-center .appad {
  height: 32px;
  padding: 10px 0;
}

#box .box-center .appad .AppDown {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #EF2F23;
  color: #EF2F23;
  font-size: 13px;
  padding: 2px;
  box-sizing: border-box;
}

#box .box-center .appad .AppDownTwo {
  display: inline-block;
  background-color: #EF2F23;
  margin-left: -5px;
}

#box .box-center .appad .AppDownTwo a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  padding: 3px;
  box-sizing: border-box;
}

#box .box-center .appad .right-entry {
  float: right;
}

#box .box-center .info {
  height: 510px;
}

#box .box-center .info > dl {
  width: 510px;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px dotted #ccc;
  display: flex;
  font-size: 13px;
  position: relative;
}

#box .box-center .info > dl dt {
  width: 80px;
  color: #999;
  text-align: right;
}

#box .box-center .info > dl dd {
  margin-left: 20px;
}

#box .box-center .info > dl .dd1 {
  width: 150px;
}

#box .box-center .info > dl span {
  position: absolute;
  right: 10px;
  color: #999;
}

#box .box-center .info .price {
  height: 80px;
  background-color: #F4F4F4;
}

#box .box-center .info .price dl {
  height: 40px;
  line-height: 40px;
  display: flex;
  font-size: 13px;
  position: relative;
}

#box .box-center .info .price dl dt {
  width: 80px;
  height: 40px;
  line-height: 40px;
  text-align: right;
  margin-right: 20px;
  color: #999;
}

#box .box-center .info .price dl dd {
  display: flex;
}

#box .box-center .info .price dl dd div {
  height: 25px;
  line-height: 25px;
  margin-top: 5px;
  border: 1px solid #FF9F04;
  margin-right: 5px;
  padding: 0 5px;
  color: #FF9F04;
  background-color: #FFF3E1;
}

#box .box-center .info .price dl .qrcode {
  width: 125px;
  height: 40px;
  position: absolute;
  padding-left: 40px;
  box-sizing: border-box;
  right: 0;
  top: 0;
  color: #0cb95f;
  position: relative;
}

#box .box-center .info .price dl .qrcode i {
  position: absolute;
  display: block;
  top: 7px;
  left: 15px;
  width: 20px;
  height: 20px;
  background: url(../images/icons.png) no-repeat 0 -345px;
}

#box .box-center .info .price dl .qrcode .code {
  width: 123px;
  height: 120px;
  position: absolute;
  top: 40px;
  left: 0;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #fff;
  border-top: none;
  display: none;
}

#box .box-center .info .price dl .qrcode .code img {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

#box .box-center .info .price dl .qrcode .code .txt {
  color: #000;
}

#box .box-center .info .price dl .qrcode:hover {
  color: #fff;
  background-color: #0cb95f;
}

#box .box-center .info .price dl .qrcode:hover i {
  background-position: -25px -345px;
}

#box .box-center .info .price dl .qrcode:hover .code {
  display: block;
}

#box .box-center .info .price dl .mon {
  font-size: 20px;
  color: #E50000;
}

#box .box-center .info .price dl .mon span {
  color: #E50000;
  font-size: 30px;
  font-weight: bolder;
  margin-left: 5px;
}

#box .box-center .info .yunfei {
  height: 50px;
  line-height: 50px;
  display: flex;
  border: none;
  margin-top: 20px;
}

#box .box-center .info .shu {
  height: 50px;
  line-height: 50px;
  display: flex;
  border: none;
}

#box .box-center .info .shu .w1 {
  width: 440px;
  height: 50px;
  float: right;
  display: flex;
}

#box .box-center .info .shu .w1 .quantity {
  display: block;
  width: 92px;
  height: 24px;
  display: flex;
  margin-top: 13px;
  border: 1px solid #ccc;
}

#box .box-center .info .shu .w1 .quantity input {
  display: inline-block;
  width: 42px;
  height: 24px;
  border: none;
  line-height: 24px;
  text-align: center;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
}

#box .box-center .info .shu .w1 .quantity a {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  color: #000;
}

#box .box-center .info .shu .w1 .par {
  margin-left: 20px;
}

#box .box-center .info .mainop {
  height: 80px;
  padding: 20px 0;
  box-sizing: border-box;
}

#box .box-center .info .mainop a {
  display: inline-block;
  width: 140px;
  height: 45px;
  background-color: #E50000;
  text-align: center;
  line-height: 45px;
  font-size: 17px;
  text-decoration: none;
}

#box .box-center .info .mainop .ibtn2 {
  width: 140px;
  height: 45px;
  box-sizing: border-box;
  margin-left: 80px;
  color: #E50000;
  background-color: #fff;
  border: 1px solid #E50000;
}

#box .box-center .info .mainop .ibtn1 {
  box-sizing: border-box;
  color: #fff;
  border: 1px solid #E50000;
  margin-left: 20px;
}

#box .box-center .info .cer-bot {
  width: 510px;
  height: 60px;
  background: url(../images/details/centerbot.png) no-repeat 20px 0;
}

#box .box-center #large-box {
  width: 510px;
  height: 450px;
  float: left;
  overflow: hidden;
  position: absolute;
  z-index: 99;
  top: 0;
  display: none;
}

#box .box-center #large-box img {
  position: absolute;
  top: 0;
  left: 0;
}

#box .box-right {
  width: 220px;
  height: 590px;
  float: left;
  margin-top: 20px;
  background: url(../images/details/right.png) no-repeat;
  background-size: 220px;
}

.kong {
  width: 100%;
  height: 640px;
}

/* 侧边栏广告 */
/* 在线客服 */
.slidenav {
  position: fixed;
  right: 2px;
  top: 233px;
  background: #fff;
  width: 52px;
  z-index: 9997;
  display: none;
}

.slidenav .i.i1 {
  background-position: -91px -308px;
  background-color: #0CB95F;
  border-color: #0CB95F;
}

.slidenav .i {
  display: block;
  height: 30px;
  width: 30px;
  background-image: url(../images/icons.png);
  border: 1px solid #e5e5e5;
  border-bottom: 0;
  padding: 10px;
  font-size: 12px;
  text-decoration: none;
  position: relative;
}

.slidenav .i .t {
  display: none;
  height: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.slidenav .i .t:hover {
  display: none;
}

.slidenav .i .contact {
  position: absolute;
  right: 51px;
  top: -1px;
  display: none;
  font-size: 0;
  padding-right: 10px;
}

.slidenav .i .contact .qqcon {
  background: #0CB95F;
  padding: 8px;
  width: 126px;
}

.slidenav .i .contact .qqcon p {
  color: #fff;
  line-height: 1;
  font-size: 12px;
  position: relative;
}

.slidenav .i .contact .qqcon p img {
  position: absolute;
  top: -4px;
  right: 2px;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.slidenav .i .contact .qqcon .js {
  height: 35px;
  background: #fff;
  padding: 10px 0;
  text-align: center;
  margin-top: 8px;
}

.slidenav .i .contact .qqcon .js a {
  display: block;
}

.slidenav .i .contact .qqcon .js + img {
  height: 90px;
  width: 126px;
}

.slidenav .i .gzwm {
  position: absolute;
  right: 51px;
  top: -103px;
  background: #fff;
  padding: 15px 20px;
  border: 1px solid #e5e5e5;
  color: #333;
  border-right: 0;
  line-height: 24px;
  width: 155px;
  display: block;
  height: 198px;
  width: 90px;
  text-align: center;
  display: none;
}

.slidenav .i .gzwm .wxsbg {
  width: 80px;
  height: 80px;
  background: url(../images/icon_wx_big.jpg) no-repeat 8px 0;
  background-size: 80px 80px;
  margin-bottom: 5px;
}

/* 微信 */
.slidenav .i .app {
  position: absolute;
  right: 51px;
  top: -103px;
  background: #fff;
  padding: 15px 20px;
  padding-top: 32px;
  border: 1px solid #e5e5e5;
  color: #333;
  border-right: 0;
  line-height: 24px;
  width: 155px;
  display: block;
  height: 156px;
  width: 90px;
  text-align: center;
  display: none;
}

.slidenav .i .app .appbg {
  background: url(../images/icon_app_big.png) no-repeat 8px 0;
  background-size: 80px 80px;
  width: 80px;
  height: 80px;
  margin-bottom: 5px;
}

.slidenav .i.i6 {
  background-position: -335px -307px;
}

.slidenav .i i {
  display: none;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background: #e50000;
  color: #fff;
  text-align: center;
  border-radius: 20px;
  position: absolute;
  right: 5px;
  top: 5px;
  font-style: normal;
  font-size: 12px;
  font-family: Arial;
  opacity: .8;
}

.slidenav .i.i2 {
  background-position: -138px -307px;
}

.slidenav .i.i3 {
  background-position: -188px -307px;
}

.slidenav .i.i7 {
  background-position: -121px -358px;
}

.slidenav .i.i4 {
  background-position: -236px -307px;
}

.slidenav .i.i5 {
  background-position: -284px -307px;
  display: none;
}

.slidenav .i .t {
  display: none;
  height: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.slidenav .i:hover {
  background: #0CB95F;
  display: block;
}

.slidenav .i:hover .t {
  display: block;
  background: #0CB95F;
  color: #fff;
  border-color: #0CB95F;
}

.slidenav .i3:hover .gzwm {
  display: block;
}

.slidenav .i7:hover .app {
  display: block;
}
