* {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

#yfw {
  width: 100%;
  height: 100%;
}

#yfw .head-top {
  height: 40px;
  background-color: #F4F4F4;
  border-bottom: 1px solid #E5E5E5;
}

#yfw .head-top .container {
  width: 1190px;
  height: 100%;
  margin: auto;
}

#yfw .head-top .container .ul-left {
  width: 385px;
  height: 100%;
  float: left;
}

#yfw .head-top .container .ul-left li {
  float: left;
  height: 40px;
  font-size: 13px;
  line-height: 40px;
  display: flex;
  margin-left: 20px;
}

#yfw .head-top .container .ul-left li span {
  width: 20px;
  height: 20px;
  background: url(../images/icons.png) no-repeat -3px -4px;
  margin-top: 10px;
}

#yfw .head-top .container .ul-left .weixin {
  position: relative;
}

#yfw .head-top .container .ul-left .weixin .wxbig {
  position: absolute;
  padding: 10px;
  top: 40px;
  left: -80px;
  border: 1px solid #F4F4F4;
  border-top: none;
  display: none;
  background-color: #fff;
  z-index: 9;
}

#yfw .head-top .container .ul-left .weixin .wxbig .pic {
  width: 258px;
  height: 258px;
  background: url(../images/icon_wx_big.jpg) no-repeat;
}

#yfw .head-top .container .ul-left .weixin .wxbig p {
  text-align: center;
}

#yfw .head-top .container .ul-left .weixin span {
  background-position: -50px -4px;
}

#yfw .head-top .container .ul-left .weixin:hover .wxbig {
  display: block;
}

#yfw .head-top .container .ul-left .app {
  position: relative;
}

#yfw .head-top .container .ul-left .app .appbig {
  position: absolute;
  padding: 10px;
  top: 40px;
  left: -80px;
  border: 1px solid #F4F4F4;
  background-color: #fff;
  border-top: none;
  display: none;
  z-index: 9;
}

#yfw .head-top .container .ul-left .app .appbig .pic {
  width: 258px;
  height: 258px;
  background: url(../images/icon_app_big.png) no-repeat;
}

#yfw .head-top .container .ul-left .app .appbig p {
  text-align: center;
}

#yfw .head-top .container .ul-left .app:hover .appbig {
  display: block;
}

#yfw .head-top .container .ul-left .app span {
  background-position: -68px -4px;
}

#yfw .head-top .container .ul-left a {
  height: 40px;
  color: #000;
}

#yfw .head-top .container .ul-left a:hover {
  color: #0CB95F;
  text-decoration: underline;
}

#yfw .head-top .container .ul-left s {
  width: 1px;
  height: 14px;
  background-color: #ccc;
  margin-top: 13px;
  margin-left: 10px;
}

#yfw .head-top .container .ul-right {
  width: 685px;
  height: 40px;
  float: right;
  display: flex;
}

#yfw .head-top .container .ul-right li {
  font-size: 13px;
  margin-right: 15px;
  line-height: 40px;
}

#yfw .head-top .container .ul-right li a {
  color: #000;
}

#yfw .head-top .container .ul-right li a:hover {
  color: #0CB95F;
  text-decoration: underline;
}

#yfw .head-top .container .ul-right .cart {
  width: 110px;
  height: 40px;
  position: relative;
  border-left: 1px solid #F4F4F4;
  border-right: 1px solid #F4F4F4;
  margin-right: 0;
}

#yfw .head-top .container .ul-right .cart span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  margin-left: 10px;
  background: url(../images/icons.png) no-repeat -90px 0;
}

#yfw .head-top .container .ul-right .cart .line {
  width: 325px;
  background-color: #fff;
  padding: 10px;
  position: absolute;
  top: 40px;
  left: -1px;
  display: none;
  z-index: 9;
  border: 1px solid #ccc;
}

#yfw .head-top .container .ul-right .cart .line a {
  color: #0CB95F;
}

#yfw .head-top .container .ul-right .cart:hover .line {
  display: block;
  border-top: none;
}

#yfw .head-top .container .ul-right .cart:hover {
  background-color: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

#yfw .head-top .container .ul-right .cart:hover > a {
  color: #EF0D15;
}

#yfw .head-top .container .ul-right .person {
  width: 80px;
  height: 40px;
  position: relative;
  padding-left: 15px;
  border-left: 1px solid #F4F4F4;
  border-right: 1px solid #F4F4F4;
}

#yfw .head-top .container .ul-right .person span {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  top: 10px;
  background: url(../images/icons.png) no-repeat -120px 0;
}

#yfw .head-top .container .ul-right .person .menu_list {
  width: 95px;
  position: absolute;
  top: 40px;
  left: -1px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  display: none;
  z-index: 9;
}

#yfw .head-top .container .ul-right .person .menu_list a {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

#yfw .head-top .container .ul-right .person:hover {
  background-color: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

#yfw .head-top .container .ul-right .person:hover .menu_list {
  display: block;
}

#yfw .head-top .container .ul-right .person:hover span {
  background: url(../images/icons.png) no-repeat -135px 0;
}

#yfw .head-top .container .ul-right .person:hover > a {
  color: #0CB95F;
}

#yfw .head-top .container .ul-right .scj {
  padding-right: 15px;
}

#yfw .head-top .container .ul-right .daohang {
  position: relative;
  width: 70px;
  height: 40px;
  margin-left: 10px;
  padding: 0 5px;
  border-left: 1px solid #F4F4F4;
  border-right: 1px solid #F4F4F4;
}

#yfw .head-top .container .ul-right .daohang span {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  right: 3px;
  background: url(../images/icons.png) no-repeat -120px 5px;
}

#yfw .head-top .container .ul-right .daohang .other {
  position: absolute;
  top: 40px;
  right: -1px;
  width: 450px;
  padding: 10px;
  line-height: 26px;
  border: 1px solid #ccc;
  background-color: #fff;
  display: none;
  z-index: 9;
}

#yfw .head-top .container .ul-right .daohang .other .item {
  float: left;
  width: 210px;
}

#yfw .head-top .container .ul-right .daohang .other .item a {
  padding-right: 10px;
}

#yfw .head-top .container .ul-right .daohang .other .item a:hover {
  color: #000;
}

#yfw .head-top .container .ul-right .daohang .other .item .h1 {
  color: #0CB95F;
}

#yfw .head-top .container .ul-right .daohang .other .item:nth-child(1) {
  margin-right: 10px;
  border-right: 1px solid #ccc;
  padding-right: 10px;
}

#yfw .head-top .container .ul-right .daohang:hover {
  background-color: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

#yfw .head-top .container .ul-right .daohang:hover .other {
  display: block;
  border-top-color: #fff;
}

#yfw .head-top .container .ul-right .daohang:hover span {
  background: url(../images/icons.png) no-repeat -135px 5px;
}

#yfw .head-top .container .ul-right .daohang:hover > a {
  color: #0CB95F;
}

#yfw .head-top .container .ul-right .sprz a {
  background-color: #0CB95F;
  color: #fff;
  padding: 2px 5px;
}

#yfw .head-top .container .ul-right .sprz:hover a {
  color: #fff;
  text-decoration: none;
}

#yfw .head {
  width: 100%;
  height: 140px;
}

#yfw .head .container {
  width: 1190px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

#yfw .head .container .logo {
  position: absolute;
  top: 35px;
  left: 20px;
}

#yfw .head .container .search {
  width: 550px;
  position: absolute;
  top: 35px;
  left: 330px;
}

#yfw .head .container .search a {
  color: #000;
}

#yfw .head .container .search .search_input {
  width: 545px;
  height: 40px;
  padding: 0 2px;
  background-color: #0CB95F;
  display: flex;
}

#yfw .head .container .search .search_input .opt_list {
  width: 80px;
  height: 36px;
  margin-top: 2px;
  text-align: center;
  position: relative;
  border-right: 1px solid #ccc;
}

#yfw .head .container .search .search_input .opt_list .sp {
  display: block;
  width: 80px;
  height: 36px;
  line-height: 36px;
  background-color: #fff;
}

#yfw .head .container .search .search_input .opt_list span {
  position: absolute;
  top: 10px;
  right: 5px;
  width: 15px;
  height: 15px;
  background: url(../images/icons.png) no-repeat -110px 0;
}

#yfw .head .container .search .search_input .opt_list a:hover {
  color: #0CB95F;
  text-decoration: underline;
}

#yfw .head .container .search .search_input .opt_list .show {
  position: absolute;
  top: 35px;
  width: 79px;
  border: 1px solid #ccc;
  border-top: none;
  display: none;
  background-color: #fff;
  z-index: 9;
}

#yfw .head .container .search .search_input .opt_list .show a {
  display: block;
  width: 79px;
  height: 35px;
  line-height: 35px;
}

#yfw .head .container .search .search_input .opt_list a:hover {
  background-color: #E5E5E5;
}

#yfw .head .container .search .search_input .opt_list:hover .sp {
  height: 38px;
}

#yfw .head .container .search .search_input .opt_list:hover .show {
  display: block;
}

#yfw .head .container .search .search_input .txt {
  width: 350px;
  height: 26px;
  padding: 5px 10px;
  border: none;
  margin-top: 2px;
  margin-left: 0px;
}

#yfw .head .container .search .search_input .submit {
  width: 90px;
  height: 40px;
  cursor: pointer;
  background-color: #0CB95F;
  border: none;
  color: #fff;
  font-size: 14px;
}

#yfw .head .container .search .hot_search {
  display: flex;
  width: 550px;
  font-size: 13px;
  margin-top: 10px;
}

#yfw .head .container .search .hot_search a:hover {
  color: #0CB95F;
  text-decoration: underline;
}

#yfw .head .container .search .hot_search .highlight a {
  color: #EF0D15;
}

#yfw .head .container .search .hot_search li {
  padding: 0 12px;
  border-right: 1px solid #ccc;
}

#yfw .head .container .promise {
  width: 300px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 35px;
}

#yfw .head .container .promise a {
  display: block;
  width: 175px;
  height: 40px;
  background: url(../images/icons.png) no-repeat -85px -263px;
  float: right;
  margin-right: 50px;
}

#yfw .nav {
  width: 100%;
  height: 50px;
}

#yfw .nav .container {
  width: 1190px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

#yfw .nav .container .mainnav {
  height: 50px;
  display: flex;
  line-height: 50px;
}

#yfw .nav .container .mainnav li {
  height: 100%;
  padding: 0 30px;
}

#yfw .nav .container .mainnav li a {
  color: #000;
}

#yfw .nav .container .mainnav .home {
  padding: 0 50px;
}

#yfw .nav .container .mainnav a:hover {
  color: #0CB95F;
  text-decoration: underline;
}

#yfw .nav .container .mainnav .category {
  width: 210px;
  height: 50px;
  padding: 0;
  padding-left: 20px;
  background-color: #0CB95F;
}

#yfw .nav .container .mainnav .category a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
}

#yfw .nav .container .maincat {
  position: absolute;
  width: 228px;
  height: 390px;
  top: 50px;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-bottom: none;
  z-index: 99;
}

#yfw .nav .container .maincat a {
  color: #000;
}

#yfw .nav .container .maincat a:hover {
  color: #0CB95F;
  text-decoration: underline;
}

#yfw .nav .container .maincat li {
  height: 45px;
  padding: 10px 0;
  padding-left: 50px;
  border-bottom: 1px dotted #ccc;
  position: relative;
}

#yfw .nav .container .maincat li h2 {
  font-size: 14px;
  font-weight: normal;
  color: #333;
}

#yfw .nav .container .maincat li .sub {
  margin-top: 5px;
}

#yfw .nav .container .maincat li .sub a {
  font-size: 13px;
  margin-right: 5px;
  color: #999;
}

#yfw .nav .container .maincat li .sub a:hover {
  color: #0CB95F;
  text-decoration: underline;
}

#yfw .nav .container .maincat li i {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 14px;
  left: 16px;
  background: url(../images/icons.png) no-repeat;
}

#yfw .nav .container .maincat li:nth-child(1) i {
  background-position: -132px -154px;
}

#yfw .nav .container .maincat li:nth-child(2) i {
  background-position: -156px -154px;
}

#yfw .nav .container .maincat li:nth-child(3) i {
  background-position: -180px -154px;
}

#yfw .nav .container .maincat li:nth-child(4) i {
  background-position: -204px -154px;
}

#yfw .nav .container .maincat li:nth-child(5) i {
  background-position: -228px -154px;
}

#yfw .nav .container .maincat li:nth-child(6) i {
  background-position: -252px -154px;
}

#yfw .nav .container .maincat li:last-child {
  border-bottom: none;
}

#yfw .banner {
  width: 100%;
  height: 390px;
}

#yfw .banner .container {
  width: 1190px;
  height: 390px;
  margin: 0 auto;
  position: relative;
}

#yfw .banner .container .slider {
  width: 780px;
  height: 390px;
  left: 230px;
  overflow: hidden;
  position: relative;
}

#yfw .banner .container .slider-box {
  background: #dddddd;
  width: 10000px;
  height: 390px;
  padding: 0;
  margin: 0;
  position: absolute;
}

#yfw .banner .container .slider-box-item {
  width: 780px;
  height: 390px;
  float: left;
  font-size: 40px;
  text-align: center;
  line-height: 390px;
}

#yfw .banner .container .slider-box-item img {
  width: 780px;
  height: 390px;
}

#yfw .banner .container .slider-control {
  position: absolute;
  width: 100%;
  height: 100px;
  top: 50%;
  margin-top: -50px;
  font-size: 40px;
  color: #fff;
}

#yfw .banner .container .prev {
  display: block;
  width: 30px;
  height: 50px;
  text-align: center;
  line-height: 45px;
  background-color: rgba(51, 51, 51, 0.2);
  margin-top: 25px;
  border-radius: 3px;
  float: left;
}

#yfw .banner .container .next {
  display: block;
  width: 30px;
  height: 50px;
  line-height: 45px;
  float: right;
  text-align: center;
  margin-top: 25px;
  border-radius: 3px;
  background-color: rgba(51, 51, 51, 0.2);
}

#yfw .banner .container .slider:hover .prev,
#yfw .banner .container .slider:hover .next {
  background-color: rgba(51, 51, 51, 0.6);
}

#yfw .banner .container .slider:hover .slider-nav-item {
  display: block;
}

#yfw .banner .container .slider-nav {
  position: absolute;
  right: 30px;
  bottom: 10px;
  height: 30px;
}

#yfw .banner .container .slider-nav-item {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  float: left;
  border-radius: 15px;
  margin: 0 5px;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: none;
}

#yfw .banner .container .active {
  background: #0CB95F;
}

#yfw .banner .container .sjrz {
  width: 180px;
  height: 390px;
  background: url(../images/sjrz.png) no-repeat;
  position: absolute;
  top: 0;
  right: 0;
}

#yfw .banner .container .sjrz img:first-child {
  position: absolute;
  bottom: 0;
  left: 0;
}

#yfw .banner .container .sjrz img:last-child {
  position: absolute;
  bottom: 0;
  right: 0;
}
