* {
    padding: 0;
    margin: 0;
}

ul,
li {
    list-style: none;
}

#liebiao {
    width: 100%;
    height: 100%;

    .nav {
        width: 100%;
        height: 50px;
        background-color: #0CB95F;

        .container {
            width: 1190px;
            height: 100%;
            margin: 0 auto;
            position: relative;

            .mainnav {
                height: 50px;
                display: flex;
                line-height: 50px;


                li {
                    height: 100%;
                    padding: 0 30px;

                    a {
                        color: #fff;
                        text-decoration: none;
                    }
                }

                .home {
                    padding: 0 50px;
                }

                a:hover {
                    text-decoration: underline;
                }

                .category {
                    width: 210px;
                    height: 50px;
                    padding: 0;
                    padding-left: 20px;
                    background-color: #0AA454;

                    a {
                        display: block;
                        width: 100%;
                        height: 100%;
                        color: #fff;
                    }
                }
            }

        }

    }

    .page {
        width: 1190px;
        margin: 20px auto;
        text-align: center;
        font-size: 0;
        font-family: Verdana;
        padding: 10px 16px
    }

    .page a {
        display: inline-block;
        height: 20px;
        padding: 0 7px;
        font-size: 14px;
        border: #CCC solid 1px;
        font: 12px/20px Verdana;
        text-decoration: none;
        margin-left: 5px;
        background: #FFF
    }

    .page a:hover {
        background: #0CB95F;
        color: #FFF;
        /* border-color: #09F */
    }

    .page .active {
        background: #0CB95F;
    }

    .page a:active {
        opacity: .8
    }

    #nav {
        width: 1190px;
        height: 40px;
        line-height: 40px;
        margin: 20px auto;
        margin-top: 40px;
        background-color: #F4F4F4;
        /* background: #999; */
        box-sizing: border-box;
        border: 1px solid #ccc;

        li {
            float: left;
            margin-right: 30px;
            padding: 0 10px;
            cursor: pointer;
        }

        li:hover {
            background-color: #0CB95F;
            color: #FFF;
        }


    }


    .goods {
        width: 1190px;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;

        li {
            width: 227px;
            height: 340px;
            border: 1px solid #dddddd;
            margin-right: 10px;

            margin-bottom: 20px;
            font-size: 14px;
            box-sizing: border-box;
            position: relative;

            img {
                display: block;
                width: 190px;
                height: 190px;
                margin: 0 auto;
            }

            .name {
                display: block;
                color: #000;
                line-height: 20px;
                text-decoration: none;
                height: 20px;
                margin-top: 10px;
                margin-left: 20px;
            }

            .price {
                font-size: 16px;
                color: #EF0D15;
                margin-top: 10px;
                height: 20px;
            }

            p {
                color: #666;
                height: 20px;
                line-height: 20px;
                margin: 2 0px;
                margin-left: 20px;
            }

            .acount {
                margin-top: 5px;
                position: relative;
                margin-left: 0;
                padding-left: 20px;
                box-sizing: border-box;

                span {
                    color: #0CB95F;
                }

                .sq {
                    position: absolute;
                    bottom: 2px;
                    right: 0;
                    width: 60px;
                    font-size: 14px;
                    background-color: #EF0D15;
                    color: #fff;
                    text-decoration: none;
                    text-align: center;
                }
            }

            .sc {
                position: absolute;
                width: 227px;
                height: 40px;
                font-size: 14px;
                border: 1px solid #999;
                border-top: none;
                left: -1px;
                bottom: -41px;
                z-index: 10;
                padding: 0 20px;
                box-sizing: border-box;
                background-color: #fff;
                display: none;

            }
        }

        li:nth-child(5n) {
            margin-right: 0;
        }

        li:hover {
            border: 1px solid #999;
            border-bottom: none;
        }
    }

    li:hover .sc {
        display: block;
    }

    li:hover .acount {
        background-color: #dddddd;
    }
}