* {
    padding: 0;
    margin: 0;
}

ul,
li {
    list-style: none;
}

#log {
    width: 100%;
    height: 100%;

    .head-top {
        height: 40px;
        background-color: #F4F4F4;
        border-bottom: 1px solid #E5E5E5;

        .container {
            width: 990px;
            height: 100%;
            margin: auto;

            .ul-left {
                width: 790px;
                height: 100%;
                float: left;

                li {
                    float: left;
                    height: 40px;
                    font-size: 13px;
                    line-height: 40px;
                    display: flex;
                    margin-left: 20px;

                    span {
                        width: 20px;
                        height: 20px;
                        background: url(../images/icons.png) no-repeat -3px -4px;
                        margin-top: 10px;
                    }
                }

                .weixin {
                    position: relative;
                }

                .weixin .wxbig {
                    position: absolute;
                    padding: 10px;
                    top: 40px;
                    left: -80px;
                    border: 1px solid #F4F4F4;
                    border-top: none;
                    display: none;
                    background-color: #fff;
                    z-index: 9;

                    .pic {
                        width: 258px;
                        height: 258px;
                        background: url(../images/icon_wx_big.jpg) no-repeat;
                    }

                    p {
                        text-align: center;
                    }
                }

                .weixin span {
                    background-position: -50px -4px;
                }

                .weixin:hover .wxbig {
                    display: block;
                }

                .app {
                    position: relative;
                }

                .app .appbig {
                    position: absolute;
                    padding: 10px;
                    top: 40px;
                    left: -80px;
                    border: 1px solid #F4F4F4;
                    background-color: #fff;
                    border-top: none;
                    display: none;
                    z-index: 9;

                    .pic {
                        width: 258px;
                        height: 258px;
                        background: url(../images/icon_app_big.png) no-repeat;
                    }

                    p {
                        text-align: center;
                    }
                }

                .app:hover .appbig {
                    display: block;
                }

                .app span {
                    background-position: -68px -4px;
                }

                a {
                    height: 40px;
                    color: #000;
                }

                a:hover {
                    color: #0CB95F;
                    text-decoration: underline;
                }

                s {
                    width: 1px;
                    height: 14px;
                    background-color: #ccc;
                    margin-top: 13px;
                    margin-left: 10px;
                }
            }

            .ul-right {
                width: 200px;
                height: 40px;
                float: right;
                display: flex;

                li {
                    font-size: 13px;
                    margin-right: 15px;
                    line-height: 40px;

                    a {
                        color: #000;
                        text-decoration: none;
                    }

                    a:hover {
                        color: #0CB95F;
                        text-decoration: underline;
                    }
                }

                .daohang {
                    position: relative;
                    width: 70px;
                    height: 40px;
                    margin-left: 10px;
                    padding: 0 5px;
                    border-left: 1px solid #F4F4F4;
                    border-right: 1px solid #F4F4F4;

                    span {
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        top: 5px;
                        right: 3px;
                        background: url(../images/icons.png) no-repeat -120px 5px;
                    }

                    .other {
                        position: absolute;
                        top: 40px;
                        right: -1px;
                        width: 450px;
                        padding: 10px;
                        line-height: 26px;
                        border: 1px solid #ccc;
                        background-color: #fff;
                        display: none;
                        z-index: 9;

                        .item {
                            float: left;
                            width: 210px;

                            a {
                                padding-right: 10px;
                            }

                            a:hover {
                                color: #0CB95F;
                            }

                            .h1 {
                                color: #0CB95F;
                            }
                        }

                        .item:nth-child(1) {
                            margin-right: 10px;
                            border-right: 1px solid #ccc;
                            padding-right: 10px;
                        }
                    }
                }

                .daohang:hover {
                    background-color: #fff;
                    border-left: 1px solid #ccc;
                    border-right: 1px solid #ccc;
                }

                .daohang:hover .other {
                    display: block;
                    border-top-color: #fff;
                }

                .daohang:hover span {
                    background: url(../images/icons.png) no-repeat -135px 5px;
                }

                .daohang:hover>a {
                    color: #0CB95F;
                }

            }
        }
    }

    .header-log {
        width: 990px;
        height: 120px;
        margin: 0 auto;
        position: relative;

        img {
            position: absolute;
            width: 210px;
            height: 70px;
            top: 25px;
        }

        span {
            position: absolute;
            display: inline-block;
            height: 55px;
            left: 230px;
            top: 33px;
            border-left: 1px solid #ccc;
            padding-left: 15px;
            font-size: 24px;
            font-weight: bold;
            line-height: 55px;
        }
    }

    .login {
        width: 100%;
        height: 540px;
        background: url(https://c1.yaofangwang.net/4/1656/26c75964de38c1f58a1b546035302a24.png) no-repeat -350px 0;

        .container {
            width: 1100px;
            height: 540px;
            margin: 0 auto;

            .cont {
                width: 410px;
                height: 440px;
                background-color: #fff;
                margin-top: 55px;
                float: right;
                padding: 10px 45px;
                box-sizing: border-box;
                position: relative;

                .form-tab {
                    width: 320px;
                    height: 54px;
                    position: relative;

                    .tab-item {
                        width: 48%;
                        height: 54px;
                        line-height: 54px;
                        font-size: 20px;
                        color: #99A5C2;
                        margin-right: 1%;
                        cursor: pointer;
                        float: left;
                        text-align: center;
                    }

                    .bor-btt {
                        color: #0CB95F;
                        border-bottom: 4px solid #0CB95F;
                    }

                    .tab-line {
                        width: 1px;
                        height: 18px;
                        position: absolute;
                        background-color: #99A5C2;
                        left: 48%;
                        top: 19px;
                    }
                }

                .form {
                    width: 320px;
                    height: 360px;
                    margin-top: 10px;
                    position: absolute;
                    top: 60px;
                    left: 45px;
                    display: none;

                    .item {
                        height: 50px;
                        line-height: 50px;

                        span {
                            color: #666;
                        }

                        .r {
                            float: right;
                            font-size: 13px;

                            a {
                                color: #0CB95F;
                            }
                        }
                    }

                    .inp {
                        width: 320px;
                        height: 50px;
                        margin-bottom: 5px;
                        position: relative;

                        .input_big {
                            display: block;
                            padding-left: 35px;
                            width: 320px;
                            height: 40px;
                            box-sizing: border-box;
                            border: 1px solid #ccc;
                            color: #333;
                            font-size: 14px;
                            line-height: 40px;
                        }

                        i {
                            background: url(../images/icons.png) no-repeat;
                            background-position: -350px -108px;
                        }

                        .user {
                            display: block;
                            width: 18px;
                            height: 25px;
                            position: absolute;
                            left: 10px;
                            top: 8px;
                        }

                        .pass {
                            display: block;
                            width: 18px;
                            height: 25px;
                            position: absolute;
                            left: 10px;
                            top: 8px;
                            background-position: -370px -110px;
                        }
                    }



                    .jizhu {
                        height: 50px;
                        font-size: 14px;

                        .ckdiv {
                            float: left;
                        }

                        a {
                            float: right;
                            color: #000;
                        }

                        a:hover {
                            color: #0CB95F;
                        }
                    }

                    .dl {
                        height: 50px;
                        background-color: #0CB95F;
                        text-align: center;
                        line-height: 50px;

                        .btn2 {
                            display: block;
                            width: 100%;
                            height: 50px;
                            color: #fff;
                            text-decoration: none;
                            cursor: pointer;
                        }
                    }

                    .qita {
                        height: 50px;
                        line-height: 50px;
                        font-size: 14px;
                        margin-top: 10px;
                    }

                    .other {
                        width: 320px;
                        height: 30px;

                        a {
                            display: block;
                            float: left;
                            width: 30px;
                            height: 30px;
                            margin-right: 20px;
                            background: url(../images/icons.png) no-repeat -416px -142px;
                        }

                        .weixin {
                            background-position-x: -447px;
                        }

                        .alipay {
                            background-position: -416px -174px;
                        }

                        .weibo {
                            background-position: -447px -174px;
                        }
                    }
                }

                .kuaijie {
                    width: 320px;
                    height: 360px;
                    margin-top: 10px;
                    position: absolute;
                    top: 60px;
                    left: 45px;
                    background-color: #fff;
                    display: none;

                    .item {
                        height: 50px;
                        line-height: 50px;

                        span {
                            color: #666;
                        }

                        .r {
                            float: right;
                            font-size: 13px;

                            a {
                                color: #0CB95F;
                            }
                        }
                    }

                    .inp {
                        width: 320px;
                        height: 50px;
                        margin-bottom: 10px;
                        position: relative;

                        .input_big {
                            display: block;
                            padding-left: 15px;
                            width: 320px;
                            height: 40px;
                            box-sizing: border-box;
                            color: #333;
                            font-size: 14px;
                            line-height: 40px;
                        }

                    }

                    .yanzheng {
                        width: 320px;
                        height: 40px;
                        margin-bottom: 20px;


                        .input_big {
                            width: 230px;
                            height: 40px;
                            float: left;
                        }

                        .pht {
                            width: 88px;
                            height: 38px;
                            border: 1px solid #999;
                            border-left: none;
                            float: left;
                        }
                    }

                    .duanxin {
                        width: 320px;
                        height: 40px;
                        line-height: 40px;
                        margin-bottom: 20px;
                        position: relative;

                        input {
                            display: block;
                            padding-left: 15px;
                            width: 320px;
                            height: 40px;
                            box-sizing: border-box;
                            color: #333;
                            font-size: 14px;
                            line-height: 40px;
                        }

                        a {
                            position: absolute;
                            right: 20px;
                            top: 0;
                            text-decoration: none;
                            color: #0CB95F;
                            font-size: 14px;
                        }
                    }

                    .dl {
                        height: 50px;
                        background-color: #0CB95F;
                        text-align: center;
                        line-height: 50px;

                        a {
                            display: block;
                            width: 100%;
                            height: 50px;
                            color: #fff;
                            text-decoration: none;
                        }
                    }

                    .qita {
                        height: 40px;
                        line-height: 40px;
                        font-size: 14px;
                    }

                    .other {
                        width: 320px;
                        height: 30px;

                        a {
                            display: block;
                            float: left;
                            width: 30px;
                            height: 30px;
                            margin-right: 20px;
                            background: url(../images/icons.png) no-repeat -416px -142px;
                        }

                        .weixin {
                            background-position-x: -447px;
                        }

                        .alipay {
                            background-position: -416px -174px;
                        }

                        .weibo {
                            background-position: -447px -174px;
                        }
                    }
                }

                .active {
                    display: block;
                }

                .form>span {
                    color: #EF0D15;
                }
            }
        }
    }

    .footer {
        width: 100%;
        height: 110px;
        padding: 10px 0;

        .container {
            width: 990px;
            height: 110px;
            margin: 0 auto;
            text-align: center;
            font-size: 12px;
            color: #999;

            a {
                font-size: 12px;
                color: #999;
            }
        }
    }

}