* {
  padding: 0;
  margin: 0;
  list-style: none;
}

.cat-box {
  width: 1190px;
  margin: 50px auto;
  height: auto;
  margin-bottom: 100px;
  /* background: #ccc; */
}

.cat-box thead {
  width: 100%;
  height: 40px;
  background-color: #eee;
}

.cat-box thead tr {
  width: 100%;
  height: 40px;
  border: 1px solid #eee;
}

.cat-box thead tr th {
  height: 40px;
  line-height: 40px;
  text-align: center;
  /* border: 1px solid #000; */
}

.cat-box thead tr .zhuangtai {
  width: 60px;
}

.cat-box thead tr .spt {
  width: 180px;
}

.cat-box thead tr .name {
  width: 120px;
}

.cat-box thead tr .price {
  width: 200px;
  padding-left: 150px;
  text-align: right;
  padding-right: 20px;
}

.cat-box thead tr .text {
  width: 280px;
}

.cat-box thead tr .xiaoji {
  width: 120px;
}

.cat-box thead tr .detel {
  width: 100px;
}

.cat-box tbody tr {
  height: 130px;
  border: 1px solid #000;
  width: 100%;
}

.cat-box tbody img {
  height: 100px;
  /* margin-left: 50px */
}

.cat-box tbody .danjia {
  font-size: 12px;
}

.cat-box tbody .xj {
  color: red;
}

.cat-box tbody .num {
  width: 40px;
  height: 19px;
  text-align: center;
  border: 1px solid #999;
  border-left: none;
  border-right: none;
}

.cat-box tbody .del a {
  display: block;
  width: 50px;
  padding: 2px 0;
  border: 1px solid #ccc;
  margin-left: 30px;
  cursor: pointer;
  color: #666;
}

.cat-box tbody .del a:hover {
  background-color: #0CB95F;
  color: #fff;
}

.cat-box tbody .btnA,
.cat-box tbody .btnB {
  width: 21px;
  height: 21px;
}

.cat-box tbody tr td {
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.cat-box tbody tr td:nth-child(1) {
  border-left: 1px solid #ccc;
}

.cat-box tbody tr td:last-child {
  border-right: 1px solid #ccc;
}

.cat-box .gouxuan {
  width: 15px;
  height: 15px;
}

.cat-box .foot {
  height: 30px;
  line-height: 30px;
  position: relative;
  background: #eee;
  padding-left: 10px;
}

.cat-box .foot .foot .left {
  display: inline-block;
  width: 100px;
  height: 40px;
  text-align: center;
  /* background: #892 */
}

.cat-box .foot .right {
  /* float: right; */
  width: 200px;
  height: 40px;
  line-height: 30px;
  display: inline-block;
  position: absolute;
  right: 50px;
  top: 0;
  /* background: #195; */
  text-align: center;
}

.cat-box .foot .right .zj {
  color: red;
  margin-left: 20px;
}
